
.btnPrev:after{
    content: "«";
    left: 4px;
    top: 6px;
}

.btnPrev:hover:after, .btnNext:hover:after{
    color: $colorArrow;
    text-shadow:0px 0px 6px #574bca;
}

.btnNext:after {
    content: "»";
    left: 4px;
    top: 6px;
}

