.card {
    @include flexCenter;
    flex-direction: column;
    width: 145px;
    height: 192px;
    background-color: rgba(244,242,243);
    border-radius: 20px;
    margin: 30px 10px 0px 10px; 
    border: 1px solid $colorGrayLight;
    
}

.btnTranslate {
    border-radius: 10px;
    background-color: $colorGreen;
    padding: 2px 15px;
    display: inline-block;
    margin-top: 35px; 
    color: white;
    cursor: pointer;
}

.word {
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
}

.transcription {
    color: $colorGrayDark;
}

.btnVisible {
    padding: 2px 15px;
    display: inline-block;
    margin-top: 35px; 
    color: $colorGreen;
    font-size: 17px;
    outline: none;
}

 .btnTranslate:hover {
    box-shadow: 0 0 20px rgba(0,255,0,.6), inset 0 0 10px rgba(0,255,0,.3);
    outline: none;
}

.btnTranslate:focus {
    animation: glow 800ms ease-out infinite alternate;
    outline: none;
}

@keyframes glow {
    0% {
		border-color: #393;
		box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1);
    }	
    100% {
		border-color: #6f6;
		box-shadow: 0 0 20px rgba(0,255,0,.6), inset 0 0 10px rgba(0,255,0,.4);
    }
}