.table {
    @include flexCenter;

    th {
        border: 1px solid $colorGrayLight;
        border-collapse: collapse;
        padding:  5px 20px;
        background-color: #8254ff4d;
        text-transform: uppercase;
        font-family: Hack, monospace;
        color:   #555252d8;
    }

    td {
        border: 1px solid $colorGrayLight;
        border-collapse: collapse;
        padding:  2px 20px;
        border-top: 1px solid #555252d8;
    }
}

table {
    border-collapse: collapse;
    overflow: hidden; 
    border-top-left-radius: 15px; 
    border-top-right-radius: 15px; 
}


.button{
    background-image: -webkit-linear-gradient(top, #f4f1ee, #fff);
    background-image: linear-gradient(top, #f4f1ee, #fff);
    border-radius: 50%;
    box-shadow: 0px 8px 10px 0px #655eaa41, inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204,198,197,.5);
    float:left;
    height: 40px;
    margin: 8px;
    position: relative;
    width: 38px;			
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
    cursor: pointer;
}

.button:after{
    color:#e9e6e4;
    content: "";
    display: block;
    font-size: 20px;
    height: 20px;
    text-decoration: none;
    text-shadow: 0px -1px 1px #bdb5b4, 1px 1px 1px white;
    position: absolute;
    width: 30px;
}

.btnEdit:after{
    content: "✎";
    left: 4px;
    top: 6px;
}

.btnSave:after{
    content: "✔";
    left:4px;
    top:6px;
}

.btnDelete:after{
    content: "✖";
    left: 4px;
    top: 6px;
}

.button:hover{
    background-image: -webkit-linear-gradient(top, #fff, #f4f1ee);
    background-image: linear-gradient(top, #fff, #f4f1ee);
    color:#0088cc;
}

.btnEdit:hover:after{
    color:#f99e4e;
    text-shadow:0px 0px 6px #f99e4e;
}

.btnSave:hover:after{
    color:#83d244;
    text-shadow:0px 0px 6px #83d244;
}

.btnDelete:hover:after{
    color:#eb2f2f;
    text-shadow:0px 0px 6px #eb2f2f;
}

.button:active{
    background-image: -webkit-linear-gradient(top, #efedec, #f7f4f4);
    background-image: linear-gradient(top, #efedec, #f7f4f4);
    box-shadow: 0 3px 5px 0 rgba(0,0,0,.4), inset 0px -3px 1px 1px rgba(204,198,197,.5);
}

.button:active:after{
    color:#dbd2d2;
    text-shadow: 0px -1px 1px #bdb5b4, 0px 1px 1px white;
}

input {
    border-radius: 10px;
    border-style:solid;
    border-color:#19c23546;
    height: 22px;
    text-align: center;
    cursor: pointer;
}

input:focus {
    outline: none;
}