.main, .cards {
    @include flexCenter;
    flex-wrap: wrap;
}

.cards {
    width: 80vw;
}

a {
    text-decoration: none;
}

.cardSlider {
    @include flexCenter;
    width: 100%;
    margin-bottom: 30px;
}