

.App{
    min-height: 100vh;
    display: flex; 
    flex-direction: column;
}

body {
    margin: 0px; padding: 0px;
}

.main, .cards {
    @include flexCenter;
    flex-wrap: wrap;
}

.main{
    display: flex;
    margin-top: 60px;
    flex: 1 1 auto;
    align-content: flex-start;
}

.cards {
    width: 80vw;
}

a {
    text-decoration: none;
}

.cardSlider {
    @include flexCenter;
    width: 100%;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

button {
    border: none;
}