$colorMain: #8254ff;
$sizeMain: 14px;
$colorGrayLight: rgba(128, 128, 128, 0.459);
$colorGrayDark: rgba(94, 91, 91, 0.781);
$colorGreen: rgba(17, 164, 83, 0.9);
$colorArrow: #2113a1;
$colorHead: rgb(251,251,251);

$stroke: rgba(70, 67, 67, 0.63);
$shadow: #7d5cdab9;


$bg: rgb(251,251,251);
$c-01: #ad9cda;
$c-02: #8b6fda;

$font-01: "Oxygen", sans-serif;

@import url("https://fonts.googleapis.com/css?family=Oxygen:700&display=swap");
/* $colorGreen: rgba(86,185,147); */

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin stroke-width($property) {
	-webkit-text-stroke-width: $property;
	-moz-text-stroke-width: $property;
}

@mixin stroke-color($property) {
	-webkit-text-stroke-color: $property;
	-moz-text-stroke-color: $property;
}

@mixin border-gradient($from, $to, $weight: 0) {
    $mix-main: mix($from, $to);
    $mix-sub-from: mix($mix-main, $from);
    $mix-sub-to: mix($mix-main, $to);
    
    box-shadow: 0 1px 0 $weight rgba($mix-sub-to, .25),
                0 -1px 0 $weight rgba($mix-sub-from, .25),
                1px 0 0 $weight rgba($mix-sub-to, .25),
                -1px 0 0 $weight  rgba($mix-sub-from, .25),
                1px -1px 0 $weight rgba($mix-main, .5),
                -1px 1px 0 $weight rgba($mix-main, .5),
                1px 1px 0 $weight rgba($to, .75),
                -1px -1px 0 $weight rgba($from, .75);
}